services:
  - type: web
    name: expense-tracker-pro
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn run:app -c gunicorn.conf.py
    healthCheckPath: /login
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.11
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_PATH
        value: /opt/render/project/src/expenses.db
